html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body {
  color: #33658A;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height:100%;
}

section#app {
  display: grid;
  min-height:100%;
  grid-template-columns: 5em 5em auto 5em 5em;
  grid-template-rows: auto 1fr auto;
}

section#app header {
  background-color: #33658A;
  padding:1em;
  outline: black;
  grid-column: 1 / 6;
  grid-row: 1 / 1;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  width:100%;
  font-size:1em;
  padding: 0.2em;
}
form input {
  font-size:1em;
  width:100%;
  margin:0 0 1em;
  padding:0.4em;
}


.card {
  border-radius: 0.1em;
  width: 30em;
  background-color: #86BBD8;
  margin:0 1em 1em 0;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
}


.card input.title {
  font-size:1.4em;
}

.card input, .card textarea {
  color: white;
  margin:0;
  padding:0.2em;
  background:0;
  width: 100%;
  border: 0;
  font-size:1em;
}

.card input:focus, .card textarea:focus{
  outline: none;
}


.card textarea {
  resize: none;
}

button {
  border-radius: 0.1em;
  font-size: 1.4em;
  padding:0.2em;
  background-color: #33658A;
  color:white;
  padding:0.3em 1em;
  border:0;
  width: fit-content;
}

section#app header {
  display: flex;
}


section#app header h1 {
  height: 1em;
  font-size: 2em;
  line-height:1em;
  margin: 0;
  padding: 0;
  color: #86BBD8;
}
section#app header a {
  font-size: 1.6em;
  text-decoration: none;
  line-height: 1.6em;
  color: #BCF8EC;
  margin: 0 0 0 1em;

}

section#app main {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
  padding:1em;
}

section.alert {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
  width: 100%;
  font-size: 1.4em;
  background-color:#F06449;
  opacity: 0.8;
  border-radius: 2px;
  height:fit-content;
  padding:0.5em;
  z-index:9999;
  margin: 0.1em;
}

section#app footer {
  padding:1em;
  background-color: #33658A;
  color: #86BBD8;
  grid-column: 1 / 6;
  grid-row: 3 / 3;
  height:1em;
  font-size:1.2em;
}

section#app footer p {
  margin: 0;
  padding: 0;
}
