[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
}

[contenteditable=true]:after {
  content: attr(suffix);
  display: block;
  /* For Firefox */
}

button {
  padding:1em;
}

